{% load static %}
<head>
<title>Odd Jobs - Log in</title>

<link rel="stylesheet" href="{% static "oddjobs.css" %}">

<img id="logo" src="{% static "Logo.png" %}">
</head>

<body style="background-image: url({% static "Neighborhood-29.jpg" %})">


<div class="loginbox">
	<p>Login:</p>
	{% block content %}
	<form method="post" id="info">
			<div id="uname">{% csrf_token %}</div>
			<div id="pword">{{ form.as_p }}</div>
			<button id="loginbutton" type="submit" name="login">Login</button><br>
	</form>
	<p class="signup">Don't have an account yet? <a href="/signup" class="signlink">Sign Up</a></p>
	{% endblock %}
</div>

</body>
